<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>cn.zjxu.exam.user.web.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminUserServlet</servlet-name>
    <servlet-class>cn.zjxu.exam.user.web.servlet.AdminUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <servlet-class>cn.zjxu.exam.user.web.servlet.VerifyCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PaperServlet</servlet-name>
    <servlet-class>cn.zjxu.exam.paper.web.servlet.PaperServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>JudgeAnswerServlet</servlet-name>
    <servlet-class>cn.zjxu.exam.paper.service.JudgeAnswerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>JudgePaperService</servlet-name>
    <servlet-class>cn.zjxu.exam.paper.service.JudgePaperService</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchPaperServlet</servlet-name>
    <servlet-class>cn.zjxu.exam.paper.web.servlet.SearchPaperServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SPServlet</servlet-name>
    <servlet-class>cn.zjxu.exam.sp.web.servlet.SPServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowPaperServlet</servlet-name>
    <servlet-class>cn.zjxu.exam.paper.web.servlet.ShowPaperServlet</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminUserServlet</servlet-name>
    <url-pattern>/AdminUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <url-pattern>/VerifyCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PaperServlet</servlet-name>
    <url-pattern>/PaperServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchPaperServlet</servlet-name>
    <url-pattern>/SearchPaperServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SPServlet</servlet-name>
    <url-pattern>/SPServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowPaperServlet</servlet-name>
    <url-pattern>/ShowPaperServlet</url-pattern>
  </servlet-mapping>
  
</web-app>